*{
    padding:0;
    margin:0 auto;
}

body {
    height: 100vh;
    background-color: #e5f0e0;
    display:flex;
}

#memory-board {
    width: 320px;
    height: 420px;
    margin: auto;
    /*background-color: #ae6e6e;*/
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    border-radius: 3px;
}

.memory-card {
    width: 150px;
    height: 200px;
    background-color: #9d0606;
    margin: 5px;
    border: 2px solid darkgrey;
    border-radius: 8px;
    position: relative;
    transform: scale(1);
    transform-style:preserve-3d;
    transition:transform .5s;
}

.memory-card:active {
    transform:scale(.97);
    transition:.2s;
}

.memory-card.flip{
    transform:rotateY(180deg);
}

.recto,
.verso {
    width: 100%;
    height: 100%;
    position:absolute;
    border-radius: 8px;   
    backface-visibility:hidden;
}

.recto {
    transform: rotateY(180deg);
}

.vie {
    width: 40px;
    height: 40px;  
}

.txt-lvl {
    font-family: 'Fascinate', cursive;
    font-size: 40px;
}

#txt-start {
    visibility: visible;
    font-family: 'Fascinate', cursive;
    font-size: 30px;
}

#txt-title {
    font-family: 'Fascinate', cursive;
    font-size: 88px;
    margin-top: 20px;
    z-index: 1;
}

#logo {
    overflow: hidden;
    border-radius: 100px;
    width: 200px;
    height: 200px;    
    margin-top:140px;
    margin-left: 40%;
}

.row-start {
    background-image: url(images/welcome.jpg);
    height: 230px;
    border-radius:15px;
}

.img-tuto {
    width:200px;
}

.vie-tuto {
    width: 50px;
    margin-top:20px;
}

.txt-tuto {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.container-game {
    /*background-image: url(images/background3.jpg);
    background-size: 1100px;
    background-position: center;
    background-repeat: no-repeat;*/
}